<a href="https://colab.research.google.com/github/kartik-sethi/Diabetes-prediction-model/blob/main/Source%20Code/Diabetes_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('/content/diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [7]:
diabetic = df[df.Outcome==1]
non_diabetic = df[df.Outcome==0]

In [8]:
non_diabetic = non_diabetic.sample(n=268)
df=  pd.concat([diabetic,non_diabetic],axis=0)
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1

In [9]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
107,4,144,58,28,140,29.5,0.287,37,0
148,5,147,78,0,0,33.7,0.218,65,0
126,3,120,70,30,135,42.9,0.452,30,0
650,1,91,54,25,100,25.2,0.234,23,0
764,2,122,70,27,0,36.8,0.340,27,0

In [10]:
df['Outcome'].value_counts()

1    268
0    268
Name: Outcome, dtype: int64

In [11]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000
mean,3.970149,125.725746,69.429104,21.440299,89.197761,32.955970,0.499744,33.873134,0.500000
std,3.402452,33.956616,19.681924,16.246356,126.128291,7.665159,0.350882,11.631843,0.500467
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,102.000000,64.000000,0.000000,0.000000,28.000000,0.251750,24.000000,0.000000
50%,3.000000,122.000000,72.000000,24.000000,45.000000,32.700000,0.397000,30.000000,0.500000
75%,6.000000,147.000000,80.000000,33.000000,140.000000,37.600000,0.666750,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,70.000000,1.000000

In [12]:
x= df.drop(columns='Outcome',axis=1)
y = df['Outcome']

Data Standardization

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x)
x = scaler.transform(x)

In [14]:
print(x)

[[ 0.59714204  0.65657489  0.13074418 ...  0.08409891  0.36301189
   1.38773632]
 [ 1.18550257  1.68826472 -0.27609984 ... -1.26089893  0.49137981
  -0.16118548]
 [-1.16793957  0.33232951 -1.49663189 ...  1.32463089  5.10121415
  -0.07513427]
 ...
 [-0.28539877 -0.16877698  0.02903318 ...  1.29851443 -0.13619665
  -0.3332879 ]
 [-0.8737593  -1.02360569 -0.78465486 ... -1.01279253 -0.75806787
  -0.93564638]
 [-0.57957904 -0.10982327  0.02903318 ...  0.50196231 -0.45569012
  -0.59144153]]

In [15]:
print(x)

[[ 0.59714204  0.65657489  0.13074418 ...  0.08409891  0.36301189
   1.38773632]
 [ 1.18550257  1.68826472 -0.27609984 ... -1.26089893  0.49137981
  -0.16118548]
 [-1.16793957  0.33232951 -1.49663189 ...  1.32463089  5.10121415
  -0.07513427]
 ...
 [-0.28539877 -0.16877698  0.02903318 ...  1.29851443 -0.13619665
  -0.3332879 ]
 [-0.8737593  -1.02360569 -0.78465486 ... -1.01279253 -0.75806787
  -0.93564638]
 [-0.57957904 -0.10982327  0.02903318 ...  0.50196231 -0.45569012
  -0.59144153]]

training and testing model

In [16]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=2)

Training the model using support vector machine(svm)

In [17]:
classifier= svm.SVC(kernel ='linear') #linear repesent linear model

In [18]:
#training the support vector machine classifier
classifier.fit(x_train,y_train)

SVC(kernel='linear')

Model Evaluation

In [19]:
#accuracy score
x_train_prediction = classifier.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [20]:
print('accuracy_score=' ,training_data_accuracy)
print(x_train_prediction)

accuracy_score= 0.7546728971962616
[1 1 1 1 0 0 1 1 1 0 1 1 1 1 0 0 0 0 1 1 0 1 0 0 1 1 1 1 1 0 0 1 0 1 1 0 0
 0 1 1 0 0 1 0 1 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 1 1 1 0 1 0 0 0 0
 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 1 0 0 1 0 0 0 1 0 1 1 1 1 0 1 0 0 1
 1 1 1 0 0 1 0 0 1 1 0 1 1 0 0 0 1 0 0 0 0 0 1 1 1 0 1 1 1 1 0 1 1 0 0 1 1
 0 1 0 1 0 0 1 1 0 1 1 1 1 0 1 0 0 0 1 0 0 0 0 1 1 1 0 1 0 0 0 1 1 0 1 1 1
 1 0 0 0 1 0 0 0 1 1 1 0 0 1 1 0 0 0 0 1 0 1 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0
 1 1 1 0 1 0 1 0 0 0 0 1 0 1 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 1 1 0 1 1 1 1 0 1 0 1 0 0 0 0 0 1 0
 1 0 0 0 1 1 1 0 1 0 1 0 1 1 1 0 0 0 1 1 0 1 1 0 1 1 0 1 0 0 0 1 0 0 1 0 1
 1 0 1 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 1 1 1 0 1 0 1 1 1 1 1
 0 1 0 1 0 1 0 0 1 0 1 1 0 0 0 1 1 1 0 0 1 1 0 1 1 1 0 1 1 1 0 1 1 1 1 0 0
 1 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 1]

In [21]:
x_test_prediction= classifier.predict(x_test)
training_data_accuracy= accuracy_score(x_test_prediction,y_test)

In [22]:
print('accuracy_score=' ,training_data_accuracy)

accuracy_score= 0.7129629629629629

In [23]:
input_data = (1,85,66,29,0,26.6,0.351,31)
numpy_array= np.asarray(input_data)

In [24]:
reshapped_array =numpy_array.reshape(1,-1) # we are reshaping the array as model is expecting the 2d data but input data is 1d 
print(reshapped_array)

[[ 1.    85.    66.    29.     0.    26.6    0.351 31.   ]]

In [25]:
std_data= scaler.transform(reshapped_array) #standardizing the reshapped array

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [26]:
print(std_data)

[[-0.8737593  -1.20046681 -0.17438883  0.46575141 -0.70785931 -0.82997729
  -0.4243113  -0.24723669]]

In [27]:
prediction = classifier.predict(std_data)
if(prediction ==1): print("Diebatic")
else: print("Non Diebatic")

Non Diebatic